div,
section {
  /* border-style: dotted; */
  border-width: 1pt;
  border-color: black;
}

body {
  /* font-family: 'Lora', serif; */
  font-family: 'Exo 2', serif;
  color: #84a702;
  background: #dcd0a9; /*#c1bb5d;*/
}

.green {
  color: #84a702;
}

td {
  text-align: center!important;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1.5rem;
  opacity: 0;
}

.business-card {
  padding: 10px 15px 15px 20px;
  width: auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1.5rem;
  opacity: 1;
  /* margin: auto; */
  background: #f1ede9;
}

td.header {
  font-size: 16pt;
  padding-bottom: 8px;
}

img.logo {
  display: block;
  max-width: 14rem;
  margin: 0 auto;
}

.tile.is-parent {
  display: flex;
}

.tile.bottom {
  margin-top: auto;
}

.slide-in {
  transform: translateX(-150px);
  animation: slide-in 0.8s ease forwards;
}

.slide-in:nth-child(odd) {
  animation-duration: 0.6s;
  /* So they look staggered */
}

/* h1 {
  position: relative;
}

h1 span {
  position: absolute;
  top: -5.8rem;
}

h2 span {
  position: absolute;
  top: -5.8rem;
}

h3 span {
  position: absolute;
  top: -5.8rem;
} */

span.anchor {
  position: absolute;
  top: -4.4rem;
}

.relative {
  position: relative;
}

.footer-image {
  width: 100%;
}

@keyframes slide-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 769px) {
  .fixed {
    position: fixed;
  }

  .columns {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .business-card {
    width: 100%;
  }
}